.rightLan{    
    position: fixed;
    top:33%;
    right: 0px;
    z-index: 3;
}
.rightLan ul li:last-child{
    display: none;
}
.rightLan ul li{
    position: relative;
    background-color: rgba(36, 35, 35, 0.6);
    cursor: pointer;
    width: 52px;
    height: 52px;
    margin: 2px;

}
.rightLan ul li img{
    position: absolute;
    top:8px;
    left: 8px;
}
.rightLan .rightLan-1,.rightLan .rightLan-2{
    width: 300px;
    height: 52px;
    color: white;
    background-color: #d71418;
    line-height: 52px;
    text-align: center;
    position: absolute;
}
.rightLan .rightLan-1{
    top:2px;
    right: 52px;
}
.rightLan .rightLan-2{
    width: 240px;
    top:56px;
    right: 52px;
}
.rightLan div{
    display: none;
}
.rightLan-3{
    position: absolute;
    right: 54px;
    top: 50px;
}
.rightLan-3 a{
    width: 160px;
    height: 200px;
    display: inline-block;
    background-color: #f6f6f6;
    border-radius: 10px;
    color: #444;
}
.rightLan-3 img{
    width: 120px;
    margin: 20px  0 0 20px;
}
.rightLan-3 p{
    width: 120px;
    margin: 20px  0 0 20px;
    font-size: 13px;
}