*{
    padding:0;
    margin: 0;
}
html,body {
    height: 100%;
}
body {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1;
}

.header{
    background-color: #0cc440;
    width: 4rem;
    height: 0.5rem;
    display: flex;
}
.sidebar{
    width: 0.8rem;
    height: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar i{
    color: azure;
    height: 0.26rem;
    font-size: 0.24rem;
}
.header-center{
    height: 0.5rem;
    width: 2.4rem;
    margin-top: 0.1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header-center div{
    background-color: rgba(255, 255, 255, 0.368);
    width: 0.8rem;
    height: 0.3rem;
    text-align: center;
    opacity: 0.3;
    color: white;
    font-size: 0.14rem;
    line-height: 0.3rem;
    border-radius: 0px 0.3rem 0.3rem 00px;
}
.header-center div:nth-child(1){
    border-radius: 0.3rem 0 0 0.3rem;
    opacity: 0.8;
}

.item1{
    width: 4rem;
    display: flex;
}
.item1 div{
    width: 33%;
    height: 0.5rem;
    background-color: white;
    text-align: center;
    line-height: 0.5rem;
    color: #666;
    border-bottom: 0.8px solid #999;
    position: relative;
    font-size: 0.14rem;
}
.item1 .ative:nth-child(1)::after{
    content: "";
    height: 0.03rem;
    width: 100%;
    background-color: #0cc440;
    position: absolute;
    bottom: 0;
    display: block;
}
.main{
    flex: 1;
    overflow: auto;
    padding: 0.02rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: auto;
}
.main  div{
    margin-top: 0.05rem;
    width: 1.2rem;
    height: 1.2rem;
    font-size: 0.12rem;
}
.main  div p{
    text-align: center;
}
.main  div img{
    width: 1.2rem;
    height: 1rem;
}
.footer{
    width: 4rem;
    height: 0.6rem;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #999;
}
.footer div{
    width: 4rem;
    height: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.14rem;
}
.footer div i{
    font-size: 0.20rem;
    color: #999;
}
.footer div p{
    color: #999;
}
.footer div:hover p{
    color: #0cc440;
}
.footer div:hover i{
    color: #0cc440;
}
html{
    font-size: 25vw;
}