#banner{
    width: 100%;
    height: 398px;
    position: relative;
}
.steering-yoke div{
    width: 20px;
    height: 20px;
    border: 2px solid #888;
    border-left-width: 0;
    border-bottom-width: 0;
    margin: 50px;
    position: absolute;
}
.steering-yoke div:hover{
    border-color: palevioletred;
}
.dot{
    width: 140px;
    height: 20px;
    position: absolute;
    left: 46%;
    bottom: 10%;
}
.dot div{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #333;
    float: left;
    margin-left: 10px;
}
#banner img{
    display: none;
    width: 100%;
    height: 398px;
}