li {
    list-style: none;
}
b,strong {
    font-weight: normal;
}
i,em {
    font-size: normal;
}
u,a,s,del {
    text-decoration: none;
}

/* 清除内外间距 */
*{
    margin: 0;
    padding: 0;
}

/* 去掉图片的下间隙 */
img {
    vertical-align: bottom;
}

/* 版心 */
.wrapper {
    margin: 0 auto;
    width: 1518.4px;
}